*{
    padding: 0;
    margin: 0;
}

.box0{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}

.box1{
    width: 100%;
    height: 500px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxbox{
    width: 80%;
    height: 400px;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    float: right;
}